sf-ai-agentforce/examples/agent-get-account-details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Assign_Found_Fields_ById</name>
        <label>Assign Found Fields By Id</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>out_AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Id.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_Tier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Id.Account_Tier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Id.Account_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_ExternalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Id.External_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_ExternalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Id.External_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Id.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_Parent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Id.Parent.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_PartnerGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Id.Partner_Group__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_AccountManager</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Id.Owner.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Id.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Id.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_ServiceMix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Id.Primary_Service_Mix__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_IsFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Found_Fields_ByName</name>
        <label>Assign Found Fields By Name</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>out_AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Name.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_Tier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Name.Account_Tier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Name.Account_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_ExternalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Name.External_Code__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_ExternalId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Name.External_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_RecordType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Name.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_Parent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Name.Parent.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_PartnerGroup</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Name.Partner_Group__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_AccountManager</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Name.Owner.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Name.BillingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Name.BillingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_ServiceMix</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Name.Primary_Service_Mix__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_By_Name.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_IsFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Not_Found</name>
        <label>Assign Not Found</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>out_IsFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_AccountName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not found</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_If_ID</name>
        <label>Check If ID</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Get_Account_By_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is_Name</defaultConnectorLabel>
        <rules>
            <name>Is_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_IsId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_By_Id</targetReference>
            </connector>
            <label>Is ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Found_By_Id</name>
        <label>Check Found By Id</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Assign_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not_Found_By_Id</defaultConnectorLabel>
        <rules>
            <name>Found_By_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_By_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Found_Fields_ById</targetReference>
            </connector>
            <label>Found By Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Found_By_Name</name>
        <label>Check Found By Name</label>
        <locationX>578</locationX>
        <locationY>494</locationY>
        <defaultConnector>
            <targetReference>Assign_Not_Found</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not_Found_By_Name</defaultConnectorLabel>
        <rules>
            <name>Found_By_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_By_Name</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Found_Fields_ByName</targetReference>
            </connector>
            <label>Found By Name</label>
        </rules>
    </decisions>
    <description>Agentforce action: Retrieves account details by name or ID. Returns tier, status, external code, external ID, record type, parent, partner group, account manager, location, service mix.</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_IsId</name>
        <dataType>Boolean</dataType>
        <expression>LEFT({!inp_AccountNameOrId}, 3) = &apos;001&apos;</expression>
    </formulas>
    <interviewLabel>Agent_Get_Account_Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agent Get Account Details</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_By_Id</name>
        <label>Get Account By Id</label>
        <locationX>50</locationX>
        <locationY>314</locationY>
        <connector>
            <targetReference>Check_Found_By_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inp_AccountNameOrId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_By_Name</name>
        <label>Get Account By Name</label>
        <locationX>578</locationX>
        <locationY>314</locationY>
        <connector>
            <targetReference>Check_Found_By_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>inp_AccountNameOrId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>inp_AccountNameOrId</name>
        <dataType>String</dataType>
        <description>Account name or Salesforce Account ID</description>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>out_AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_Tier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_ExternalCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_ExternalId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_Parent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_PartnerGroup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_AccountManager</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_ServiceMix</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_IsFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
